<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regis</servlet-name>
        <servlet-class>regis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sreg</servlet-name>
        <servlet-class>sreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usertest</servlet-name>
        <servlet-class>usertest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadminpassword</servlet-name>
        <servlet-class>cadminpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cuserp</servlet-name>
        <servlet-class>Cuserp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cregister</servlet-name>
        <servlet-class>cregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newpage</servlet-name>
        <servlet-class>newpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cstatus</servlet-name>
        <servlet-class>cstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>review</servlet-name>
        <servlet-class>review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>review1</servlet-name>
        <servlet-class>review1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chgstatus1</servlet-name>
        <servlet-class>Chgstatus1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChgStatus2</servlet-name>
        <servlet-class>ChgStatus2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>review2</servlet-name>
        <servlet-class>review2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chgstatus3</servlet-name>
        <servlet-class>chgstatus3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renewpassword</servlet-name>
        <servlet-class>renewpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regis</servlet-name>
        <url-pattern>/regis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sreg</servlet-name>
        <url-pattern>/sreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usertest</servlet-name>
        <url-pattern>/usertest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadminpassword</servlet-name>
        <url-pattern>/cadminpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cuserp</servlet-name>
        <url-pattern>/Cuserp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cregister</servlet-name>
        <url-pattern>/cregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpage</servlet-name>
        <url-pattern>/newpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cstatus</servlet-name>
        <url-pattern>/cstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>review</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>review1</servlet-name>
        <url-pattern>/review1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chgstatus1</servlet-name>
        <url-pattern>/Chgstatus1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChgStatus2</servlet-name>
        <url-pattern>/ChgStatus2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>review2</servlet-name>
        <url-pattern>/review2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chgstatus3</servlet-name>
        <url-pattern>/chgstatus3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renewpassword</servlet-name>
        <url-pattern>/renewpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
</web-app>
